h1 {
    text-align: center;
}

.weather-container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
    width: fit-content;
}

.parent-container {
    display: flex;
    justify-content: center;  /* Centers items horizontally */
    flex-direction: column;
    align-items: center;      /* This ensures the items are centered horizontally */
}

#weekData {
    text-align: center;
    padding: 20px;
    display: inline-block;
    /* Optional: you can also add styles like background and border-radius */
}

input,
button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
}

#weatherDisplay {
    margin-top: 20px;
}

/* Custom dropdown styling */
.dropdown {
    position: relative;
    display: inline-block;
    width: 300px;
}

.dropdown-btn {
    padding: 10px 90px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
}

.dropdown-content .dropdown-item {
    padding-left: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-content .dropdown-item:hover {
    background-color: #f1f1f1;
}

.dropdown .show {
    display: block;
}

.forecast-entry {
    display: flex;
    justify-content: space-between;
}

.humidityWind {
    display: flex;
    justify-content: space-between;
}

.humidityWind span {
    font-weight: 600;
    font-size: 16px;
}

.temp {
    font-weight: 800;
    font-size: 20px;
}
